{% extends "./base.html" %} 
{% block content %}

<!-- create header using bootstrap with components are rigt aligned such as - login and signup buttons -->
<link rel="stylesheet" href="{{url_for('static', filename=('css/header.css'))}}">
<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark" href="https://www.youtube.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.index') }}" style="text-transform: uppercase; color: white;">
        <img src="{{ url_for('static', filename=('img/logo1.png')) }}" class="img-fluid" alt="logo" style="border-radius: 10px; height: 60px; width: 220px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active" onclick="$()">
            <a class="nav-link" href="{{url_for('main.index')}}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.dashboard')}}">Dashboard</a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
          </li>

          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
          </li>
          {% endif %}
          
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.signup')}}">Signup</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>


<script>

</script>
{% endblock %}





