{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename=('css/hero.css'))}}">
<section class="section"style="background-color: #fff2ec;"">
<div class="d-sm-flex align-items-center justify-content-between w-100" style="height: 80vh;">
    <div class="col-md-4 mx-auto mb-4 mb-sm-0 headline">
      <span class="text-secondary text-uppercase">Dreamworkers Presents</span>
      <h1 class="display-4 my-4 font-weight-bold">COLLEGE <br><span style="color: #FF6219;">ERP SYSTEM</span></h1>
      <a href="#" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #FF6219;">Get Started</a>
    </div>
    <!-- in mobile remove the clippath -->
    <div class="col-md-8 h-100 clipped" style="min-height: 350px; background-image: url(https://images.ctfassets.net/wp1lcwdav1p1/rlyhImnUkmQdKdHtL1GNv/868953ec7fa50ec9f913bc455c821951/iStock-800334746_super.jpg?w=1500&h=680&q=60&fit=fill&f=faces&fm=jpg&fl=progressive); background-position: right; background-size:contain; background-repeat: no-repeat;">
  
    </div>
  </div>     
</section>


{% endblock %}