@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  
}

.headline {
  left: 30px;
} 

/* clipped come from right to left */
.clips {
  clip-path: polygon(1% 0, 100% 50%, 80% 100%, 0% 100%);

}

@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clips {
    clip-path: none;
    max-height: 300px !important;
  }
}